.DS_Store

# should probably ignore this for security
.gitconfig

# i dont use any of these so ignore them
iterm2
peazip
wireshark

# i dont know what haskell compiler needs config files for, maybe is just for 
# saving history (this should be private)
ghc

# so much junk temp files, and AI prompts that should be private
zed/*
!zed/settings.json

# ugh
github-copilot/
htop/

